body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bb83e9;
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    text-align: center;
}

img {
    margin: auto;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #a5089d;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
    text-transform: uppercase;
}

#yesButton {
    background-color: #5cb85c;
    color: white;
}

#noButton {
    background-color: #d9534f;
    color: white;
}

#okButton {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    display: none;
}

/* Contenedor para el botón OK para asegurar que se centre */
.ok-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#loveImage, #loveMessage, #secondOptionImage, #secondOptionMessage, #doubtImage, #doubtMessage, #finalImage, #finalMessage, #angryImage, #angryMessage {
    display: none;
}
